* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5837D0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-container {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.slider-container h1 {
    color: #fff;
    margin: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

.slider-inner-t-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn {
    width: 35px;
    height: 35px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    margin: 2rem;
    transition: all 0.2s ease-out;
}

.slider-btn:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.slider-img-con {
    width: 700px;
    height: 100%;

}

.slider-inner-t-con .slider-img-con img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.slider-inner-b-con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.dot-indicator {
    width: 11px;
    height: 11px;
    /* background-color: rgb(61, 61, 61); */
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
}

.dot-indicator.dot-fill {
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {

    .slider-container {
        width: 100vw;
    }

    .slider-container h1 {
        text-align: center;
    }

    .slider-img-con {
        width: 80vw;
        height: 100%;

    }

    .slider-btn {
        margin: 0px;
        
    }

}